{% extends 'core/base.html' %}

{% block title %} Biografias {% endblock %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Lista de Biografias</h1>
  <p class="lead">Esta é uma lista de biografias de pessoas famosas e interessantes.</p>
</div>

<table class="table">
    <thead></thead>
        <tr class="alert-primary">
            <th>ID</th>
            <th>Nome</th>
            <th>Data de Criação</th>
            <th>Data de Modificação</th>
        </tr>
    </thead>
    <tbody>
        {% for pessoa in pessoas %}
        <tr>
            <td>{{ pessoa.id }}</td>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.data_criacao }}</td>
            <td>{{ pessoa.data_modificacao }}</td>
            <td><a class="btn btn-primary" href="{% url 'detalhe' pessoa.id %}" role="button">Ver Detalhes</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}